@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

body {
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Mulish", sans-serif;
  background-color: var(--bg);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

:root {
  opacity: 0.7;
}

.login {
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background: white; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 15px;
  width: 40vw;
  max-width: 90%; 
  margin: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 40px;
}

.left {
  width: 100%; 
  background-color: transparent; 
  text-align: center;
}

.h1 {
  color: #333; 
  font-weight: 700; 
  font-size: 24px; 
}

.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px; 
  background-color: #0051ff; 
  color: white;
  border: none; 
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s; 
  margin-top: 50px; 
  opacity: 1;
}

.google-login:hover {
  background-color: #003bbc; 
  transform: translateY(-2px); 
}

.google-login .fab.fa-google {
  margin-right: 10px; 
}

.google-login {
  letter-spacing: 3px; 
}