body {
  font-family: "Noto Sans", Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.user-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.user-input label {
  margin-right: 10px;
}

.user-input input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.doc {
  margin-bottom: 40px;
  padding: 15px;
  background: #fafafa;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.doc-header {
  font-size: 24px;
  font-weight: 600;
  color: #2a7f62;
  margin-bottom: 20px;
}

.clause {
  display: grid;
  grid-template-columns: 1fr 0.7fr 3fr auto auto; /* 1fr为文本，3fr为选择器，auto为加号按钮 */
  align-items: center;
  gap: 10px; /* 元素之间的间距 */
}

.clause-text {
  /* grid布局不需要额外的flex设置 */
}

.causes-container {
  /* grid布局不需要额外的flex设置 */
}

.add-cause {
  /* grid布局不需要额外的flex设置 */
}

.delete-cause {
  /* grid布局不需要额外的flex设置 */
}

.emotion-select,
.cause-select,
.score-select {
  margin-left: 10px;
  margin-right: 10px;

  width: 60%; /* 确保选择器填满分配的空间 */
  border-radius: 5px;
  background: white;
  transition: border-color 0.3s;
}

.causes-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.selects-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 10px;
}

.select-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.emotion-select {
  width: 100%; /* 修改為填滿容器 */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px; /* 適當的填充以增加點擊區域 */
  background: rgb(255, 237, 237);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.cause-select {
  width: 100%; /* 修改為填滿容器 */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px; /* 適當的填充以增加點擊區域 */
  background: rgb(255, 244, 237);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.score-select {
  width: 100%; /* 修改為填滿容器 */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px; /* 適當的填充以增加點擊區域 */
  background: rgb(255, 238, 218);
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* 新增盒子陰影過渡效果 */
.emotion-select:focus,
.cause-select:focus,
.score-select:focus {
  border-color: #2a7f62;
  box-shadow: 0 0 0 2px rgba(42, 127, 98, 0.2);
}
.pagination {
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.7fr 1fr 1fr; /* 使用 repeat 函數簡化定義 */
  gap: 30px; /* 添加間隙 */
  max-width: 1000px; /* 設定最大寬度 */
  margin: 0 auto;
  align-items: center;
}

.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
}

.page-button {
  cursor: pointer;
  padding: 10px 15px;
  background-color: var(--primary-color, #2a7f62); /* 使用 CSS 變量 */
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;

  /* 新增邊框 */
  border: 2px solid #2a7f62; /* 或者您可以選擇您喜歡的顏色 */

  /* 新增陰影 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* X偏移, Y偏移, 模糊半徑, 顏色 */
}

.page-button:hover {
  background-color: var(--hover-color, #238756); /* 使用 CSS 變量 */
}

/* 媒體查詢：響應式設計 */
@media (max-width: 768px) {
  .pagination {
    grid-template-columns: repeat(2, 1fr);
  }
}

.add-cause {
  color: rgb(162, 162, 162);
  border-color: #d1d1d1;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 3px;
}

.add-cause:hover {
  background-color: #808080;
}

/* 調整加號圖標的大小和顏色 */
.plus-icon {
  font-size: 16px; /* 適合的大小 */
}

.delete-cause {
  color: rgb(162, 162, 162);
  border-color: #d1d1d1;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 3px;
}

.delete-cause:hover {
  background-color: #808080;
}

.logon-info {
  display: flex; /* 新增: 使用 flexbox 布局 */
  align-items: center; /* 新增: 對齊項目到中心 */
  justify-content: space-between; /* 新增: 元素之間留有空間 */
}

.user-container {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
  overflow-x: hidden;
}

.user_picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.user-info {
  display: flex; /* 使用 flexbox */
  flex-direction: column; /* 將子元素排列方向設為垂直 */
  align-items: flex-start; /* 對齊子元素到開始邊（左側） */
  margin-left: 15px;
}

.user-username {
  font-size: 18px;
  font-weight: 500;

}

.user-score {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
  margin-top: -10px; 
}


.candidate-picture {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

#continue {
  background-color:rgb(255, 155, 23);
  border: 2px solid #ffaf02; /* 或者您可以選擇您喜歡的顏色 */
}